@import url('https://fonts.googleapis.com/css?family=Alegreya:700i|Dosis:300&display=swap');
html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    /*font-family: font stack required for body text */
    font-size: 1rem;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

h1, h2, h3, h4 {
    /*font-family: font stack required for headings */
}
h1{
    display: flex;
    justify-content: center;
}

p {
    
}

.container {
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subnav {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid;
    padding: 2rem;
}

.subnav a {
    padding-left: 1rem;
}

.mainnav {
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    padding: 2rem;
}

.mainnav a {
    
}

.masthead {
    
}

.times-logo {
    
}

.masthead h1 {
    
}

.content {
    
}

.content .story {
    border: 1px solid;
    padding: 2rem;
}

.story.lead-story {
    border: 1px solid;
    padding: 2rem;
}

h1.story-title {
    
}

.story img {
    
}

.story p {
    
}

.story blockquote {
    quotes: "\201E" "\201D";
}

.story blockquote::before {
    content: open-quote;
}

.story blockquote::after {
    content: close-quote;
}

.story p.byline {
    
}

p.byline span.author {
    
}

p.byline span.pub {
    
}

.foot {
    border: 1px solid;
    padding: 2rem;
}

.foot p
{
    
}